@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');
:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    --hue: 0;
    --first-color: hsl(var(--hue), 88%, 61%);
    --title-color: hsl(250, 8%, 15%);
    --text-color: hsl(250, 8%, 35%);
    --body-color: hsl(250, 60%, 98%);
    --container-color: #fff;
    --shadow: hsla(0, 0%, 15%, .1);
    --scroll-bar-color: hsl(250, 12%, 90%);
    --scroll-thumb-color: hsl(250, 12%, 80%);
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 600;
    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #fff;
    --text-black-700: #e9e9e9;
    --title-color: #fff;
    --text-color: #e9e9e9;
    --body-color: #222222;
    --container-color: #393939;
}

@media screen and (max-width: 992px) {
     :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    outline: none;
}

.section {
    padding: 7rem 0 2rem;
}

.section__title,
.breadcrumb__title {
    font-size: var(--h1-font-size);
}

.section__title,
.breadcrumb__subtitle {
    margin-bottom: var(--mb-3);
}

.section__title,
.breadcrumb__title,
.breadcrumb__subtitle {
    text-align: center;
}

.breadcrumb__subtitle span {
    color: var(--first-color);
}

.button {
    display: inline-block;
    background: var(--first-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover {
    background: var(--first-color);
}

.container {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

.header {
    width: 100%;
    background: var(--container-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.nav_close,
.login_toggle,
.nav_logo,
.nav_toggle,
.nav_shop {
    color: var(--title-color);
}

.nav_logo {
    text-transform: lowercase;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
}

.nav_btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-left: auto;
}

.nav_toggle,
.login_toggle,
.nav_shop {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav_list {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.nav_link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.nav_link:hover {
    color: var(--first-color);
}

.contador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.contador button {
    margin-left: 2.5px;
}

.contador h3 {
    align-items: center;
    justify-items: center;
    font-size: 30px;
}

.add,
.minus {
    font-size: 25px;
    font-weight: 500;
    margin-left: 5px;
    background-color: var(--body-color);
}

.result {
    font-size: 15px;
}

.multiplier {
    margin-left: 5px;
    display: flex;
}

.itemlist-title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-container {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.product-box {
    background-color: var(--bg-black-50);
    width: 200px;
    max-height: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: 40px;
}

.product-details {
    display: flex;
    justify-content: space-between;
}

.title_product {
    text-align: center;
    transition: all 1s;
}

.details_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_price {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.product_price p {
    font-size: 20px;
    position: relative;
    top: 5px;
}

.product_button {
    background-color: var(--first-color);
    color: #fdf9ff;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.5s;
}

.product_button:hover {
    background-color: var(--text-black-900);
    color: var(--first-color);
}

.footer {
    position: relative;
    overflow: hidden;
    background-color: var(--bg-black-50);
    height: 300px;
    margin-top: 50px;
}

.footer_container {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    column-gap: 1rem;
}

.footer_logo {
    color: var(--title-color);
    text-transform: lowercase;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-bottom: var(--mb-1);
}

.footer_logo-icon {
    font-size: 1.25rem;
}

.footer_description {
    margin-bottom: var(--mb-2-5);
}

.footer_social {
    display: flex;
    column-gap: .75rem;
}

.footer_social-link {
    display: inline-flex;
    background: var(--container-color);
    padding: .25rem;
    border-radius: .25rem;
    color: var(--title-color);
    font-size: 1rem;
}

.footer_social-link:hover {
    background: var(--first-color);
    color: #fff;
}

.footer_title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.footer_links {
    display: grid;
    row-gap: .35rem;
}

.footer_link {
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: .3s;
}

.footer_link:hover {
    color: var(--title-color);
}

.footer_copy {
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 6rem;
}

.continer_detail_product {
    display: flex;
    margin-top: 150px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
}

.img_detail {
    max-height: 300px;
    max-width: 300px;
}

.detail_box {
    display: flex;
    padding: 5px;
    align-items: center;
}

.detial_button {
    margin-left: 10px;
}

.detail_price {
    font-size: 20px;
}

.detail_detail {
    font-size: 18px;
    margin-bottom: 7px;
}

.button_link {
    text-decoration: none;
    color: #fff;
    background-color: var(--first-color);
    transition: all 0.3s;
}

button.button_link {
    border-radius: 50px;
}

.button_link:hover {
    background-color: var(--text-black-700);
    color: var(--first-color);
}

.itemcount {
    display: flex;
    align-items: center;
}

.itemcount p {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.count_box {
    display: flex;
    align-items: center;
}